<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Circle</title>
    <link href="~/images/favicon.png" rel="icon" type="image/png" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CircleApp.styles.css" asp-append-version="true" />
</head>
<body>

    <div id="wrapper">

        @if (User.Identity.IsAuthenticated)
        {
            @* Topbar *@
            <partial name="Navigation/_TopBar" />

            @* Side bar (left) *@
            <partial name="Navigation/_SideBar" />
        }

        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @* Asset scripts *@
    <script src="~/js/uikit.min.js"></script>
    <script src="~/js/simplebar.js"></script>
    <script src="~/js/script.js"></script>

    @* Ion Icon *@
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
