<nav class="sidebar">
    <ul>
        <li>
            <a href="/home">
                <img src="images/icons/home.png" class="icon" />
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="/favorites">
                <img src="images/icons/page.png" class="icon" />
                <span>Favorites</span>
            </a>
        </li>
        <li>
            <a href="/friends">
                <img src="images/icons/group-2.png" class="icon" />
                <span>Friends</span>
            </a>
        </li>
        <li>
            <a href="/settings">
                <img src="images/icons/settings.png" class="icon" />
                <span>Settings</span>
            </a>
        </li>
    </ul>
</nav>
