<div class="sm:flex">
    @*form section*@
    <div class="relative lg:w-[580px] md:w-96 w-full p-10 min-h-screen bg-white shadow-xl flex items-center pt-10 z-10">

        <div class="w-full lg:max-w-sm mx-auto space-y-10">

            <div>
                <h2 class="text-2xl font-semibold mb-1.5">Sign up to get started</h2>
                <p class="text-sm text-gray-700 font-normal">If you already have an account, <a asp-controller="Authentication" asp-action="Login" class="text-blue-700">Login here!</a></p>
            </div>

            <form method="post" class="space-y-7 text-sm text-black font-medium">

                <div class="grid grid-cols-2 gap-4 gap-y-7">

                    <div>
                        <label for="firstName">First name</label>
                        <div class="mt-2.5">
                            <input id="firstName" name="firstName" type="text" placeholder="First name" required="" class="!w-full" />
                        </div>
                    </div>
                    <div>
                        <label for="lastName">Last name</label>
                        <div class="mt-2.5">
                            <input id="lastName" name="lastName" type="text" placeholder="Last name" required="" class="!w-full" />
                        </div>
                    </div>
                    <div class="col-span-2">
                        <label for="email">Email address</label>
                        <div class="mt-2.5">
                            <input id="email" name="email" type="email" placeholder="Email" required="" class="!w-full" />
                        </div>
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <div class="mt-2.5">
                            <input id="password" name="password" type="password" placeholder="***" required="" class="!w-full" />
                        </div>
                    </div>

                    <div>
                        <label for="confirmPassword">Confirm password</label>
                        <div class="mt-2.5">
                            <input id="confirmPassword" name="confirmPassword" type="password" placeholder="***" required="" class="!w-full" />
                        </div>
                    </div>

                    <div class="col-span-2">
                        <button type="submit" class="button bg-primary text-white w-full">Register</button>
                    </div>

                </div>

                <div class="text-center flex items-center gap-6">
                    <hr class="flex-1 border-slate-200">
                    Or continue with
                    <hr class="flex-1 border-slate-200">
                </div>

                <div class="flex gap-2">
                    <a href="#" class="button flex-1 flex items-center gap-2 bg-primary text-white text-sm"> <ion-icon name="logo-google" class="text-lg"></ion-icon> google </a>
                    <a href="#" class="button flex-1 flex items-center gap-2 bg-black text-white text-sm"><ion-icon name="logo-github" class="text-lg"></ion-icon> github </a>
                </div>
            </form>
        </div>
    </div>

    @*image slider*@
    <div class="flex-1 relative bg-primary max-md:hidden">
        <div class="relative w-full h-full" tabindex="-1" uk-slideshow="animation: slide; autoplay: true">

            <ul class="uk-slideshow-items w-full h-full">
                <li class="w-full">
                    <img src="~/images/welcome/welcome-03.png" alt="" class="w-full h-full object-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">

                    <div class="absolute bottom-0 w-full uk-transition-slide-bottom-small z-10">
                        <div class="max-w-xl w-full mx-auto pb-32 px-5 z-30 relative">
                            <h4 class="!text-white text-2xl font-semibold mt-7" uk-slideshow-parallax="y: 600,0,0">Connect with Friends</h4>
                            <p class="!text-white text-lg mt-7 leading-8" uk-slideshow-parallax="y: 800,0,0;">Bridge the gap between miles and moments—connect with friends and weave memories together, one click at a time.</p>
                        </div>
                    </div>
                    <div class="w-full h-96 bg-gradient-to-t from-black absolute bottom-0 left-0"></div>
                </li>
                <li class="w-full">
                    <img src="~/images/welcome/welcome-04.png" alt="" class="w-full h-full object-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                    <div class="absolute bottom-0 w-full uk-tr ansition-slide-bottom-small z-10">
                        <div class="max-w-xl w-full mx-auto pb-32 px-5 z-30 relative">
                            <h4 class="!text-white text-2xl font-semibold mt-7" uk-slideshow-parallax="y: 800,0,0">  Connect With Friends </h4>
                            <p class="!text-white text-lg mt-7 leading-8" uk-slideshow-parallax="y: 800,0,0;"> Rekindle old ties and spark new ones—your next 'Remember when...' moment is just a friend request away.</p>
                        </div>
                    </div>
                    <div class="w-full h-96 bg-gradient-to-t from-black absolute bottom-0 left-0"></div>
                </li>
            </ul>

            <!-- slide nav -->
            <div class="flex justify-center">
                <ul class="inline-flex flex-wrap justify-center  absolute bottom-8 gap-1.5 uk-dotnav uk-slideshow-nav"> </ul>
            </div>

        </div>
    </div>
</div>