<div class="flex items-baseline justify-between text-black">
    <h3 class="font-bold text-base"> People you may know </h3>
</div>

<div class="side-list">
    <div class="side-list-item">
        <a>
            <img src="~/images/avatar/user.png" class="side-list-image rounded-full" />
        </a>
        <div class="flex-1">
            <a>
                <h4 class="side-list-title">
                    First User
                </h4>
            </a>
            <div class="side-list-info">5 followers</div>
        </div>
        <form>
            <button type="submit" class="button bg-primary-soft text-primary">Follow</button>
        </form>
    </div>
    <div class="side-list-item">
        <a>
            <img src="~/images/avatar/user.png" class="side-list-image rounded-full" />
        </a>
        <div class="flex-1">
            <a>
                <h4 class="side-list-title">
                    Second User
                </h4>
            </a>
            <div class="side-list-info">6 followers</div>
        </div>
        <form>
            <button type="submit" class="button bg-primary-soft text-primary">Follow</button>
        </form>
    </div>
    <div class="side-list-item">
        <a>
            <img src="~/images/avatar/user.png" class="side-list-image rounded-full" />
        </a>
        <div class="flex-1">
            <a>
                <h4 class="side-list-title">
                    Third User
                </h4>
            </a>
            <div class="side-list-info">7 followers</div>
        </div>
        <form>
            <button type="submit" class="button bg-primary-soft text-primary">Follow</button>
        </form>
    </div>
</div>